body {
	-webkit-backface-visibility: hidden;
}
.animated {
	animation-duration: 1s; animation-fill-mode: both; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both;
}
.animated.hinge {
	animation-duration: 2s; -webkit-animation-duration: 2s; -moz-animation-duration: 2s; -o-animation-duration: 2s;
}
.flash {
	animation-name: flash; -webkit-animation-name: flash; -moz-animation-name: flash; -o-animation-name: flash;
}
.shake {
	animation-name: shake; -webkit-animation-name: shake; -moz-animation-name: shake; -o-animation-name: shake;
}
.bounce {
	animation-name: bounce; -webkit-animation-name: bounce; -moz-animation-name: bounce; -o-animation-name: bounce;
}
.tada {
	animation-name: tada; -webkit-animation-name: tada; -moz-animation-name: tada; -o-animation-name: tada;
}
.swing {
	transform-origin: center top; animation-name: swing; -webkit-transform-origin: top center; -webkit-animation-name: swing; -moz-animation-name: swing; -o-animation-name: swing; -moz-transform-origin: top center; -o-transform-origin: top center;
}
.wobble {
	animation-name: wobble; -webkit-animation-name: wobble; -moz-animation-name: wobble; -o-animation-name: wobble;
}
.pulse {
	animation-name: pulse; -webkit-animation-name: pulse; -moz-animation-name: pulse; -o-animation-name: pulse;
}
.flip {
	backface-visibility: visible !important; animation-name: flip; -webkit-backface-visibility: visible; -moz-backface-visibility: visible; -webkit-animation-name: flip; -moz-animation-name: flip; -o-animation-name: flip; -o-backface-visibility: visible;
}
.flipInX {
	backface-visibility: visible !important; animation-name: flipInX; -webkit-backface-visibility: visible; -moz-backface-visibility: visible; -webkit-animation-name: flipInX; -moz-animation-name: flipInX; -o-animation-name: flipInX; -o-backface-visibility: visible;
}
.flipOutX {
	backface-visibility: visible !important; animation-name: flipOutX; -webkit-backface-visibility: visible; -moz-backface-visibility: visible; -webkit-animation-name: flipOutX; -moz-animation-name: flipOutX; -o-animation-name: flipOutX; -o-backface-visibility: visible;
}
.flipInY {
	backface-visibility: visible !important; animation-name: flipInY; -webkit-backface-visibility: visible; -moz-backface-visibility: visible; -webkit-animation-name: flipInY; -moz-animation-name: flipInY; -o-animation-name: flipInY; -o-backface-visibility: visible;
}
.flipOutY {
	backface-visibility: visible !important; animation-name: flipOutY; -webkit-backface-visibility: visible; -moz-backface-visibility: visible; -webkit-animation-name: flipOutY; -moz-animation-name: flipOutY; -o-animation-name: flipOutY; -o-backface-visibility: visible;
}
.fadeIn {
	animation-name: fadeIn; -webkit-animation-name: fadeIn; -moz-animation-name: fadeIn; -o-animation-name: fadeIn;
}
.fadeInUp {
	animation-name: fadeInUp; -webkit-animation-name: fadeInUp; -moz-animation-name: fadeInUp; -o-animation-name: fadeInUp;
}
.fadeInDown {
	animation-name: fadeInDown; -webkit-animation-name: fadeInDown; -moz-animation-name: fadeInDown; -o-animation-name: fadeInDown;
}
.fadeInLeft {
	animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft; -moz-animation-name: fadeInLeft; -o-animation-name: fadeInLeft;
}
.fadeInRight {
	animation-name: fadeInRight; -webkit-animation-name: fadeInRight; -moz-animation-name: fadeInRight; -o-animation-name: fadeInRight;
}
.fadeInUpBig {
	animation-name: fadeInUpBig; -webkit-animation-name: fadeInUpBig; -moz-animation-name: fadeInUpBig; -o-animation-name: fadeInUpBig;
}
.fadeInDownBig {
	animation-name: fadeInDownBig; -webkit-animation-name: fadeInDownBig; -moz-animation-name: fadeInDownBig; -o-animation-name: fadeInDownBig;
}
.fadeInLeftBig {
	animation-name: fadeInLeftBig; -webkit-animation-name: fadeInLeftBig; -moz-animation-name: fadeInLeftBig; -o-animation-name: fadeInLeftBig;
}
.fadeInRightBig {
	animation-name: fadeInRightBig; -webkit-animation-name: fadeInRightBig; -moz-animation-name: fadeInRightBig; -o-animation-name: fadeInRightBig;
}
.fadeOut {
	animation-name: fadeOut; -webkit-animation-name: fadeOut; -moz-animation-name: fadeOut; -o-animation-name: fadeOut;
}
.fadeOutUp {
	animation-name: fadeOutUp; -webkit-animation-name: fadeOutUp; -moz-animation-name: fadeOutUp; -o-animation-name: fadeOutUp;
}
.fadeOutDown {
	animation-name: fadeOutDown; -webkit-animation-name: fadeOutDown; -moz-animation-name: fadeOutDown; -o-animation-name: fadeOutDown;
}
.fadeOutLeft {
	animation-name: fadeOutLeft; -webkit-animation-name: fadeOutLeft; -moz-animation-name: fadeOutLeft; -o-animation-name: fadeOutLeft;
}
.fadeOutRight {
	animation-name: fadeOutRight; -webkit-animation-name: fadeOutRight; -moz-animation-name: fadeOutRight; -o-animation-name: fadeOutRight;
}
.fadeOutUpBig {
	animation-name: fadeOutUpBig; -webkit-animation-name: fadeOutUpBig; -moz-animation-name: fadeOutUpBig; -o-animation-name: fadeOutUpBig;
}
.fadeOutDownBig {
	animation-name: fadeOutDownBig; -webkit-animation-name: fadeOutDownBig; -moz-animation-name: fadeOutDownBig; -o-animation-name: fadeOutDownBig;
}
.fadeOutLeftBig {
	animation-name: fadeOutLeftBig; -webkit-animation-name: fadeOutLeftBig; -moz-animation-name: fadeOutLeftBig; -o-animation-name: fadeOutLeftBig;
}
.fadeOutRightBig {
	animation-name: fadeOutRightBig; -webkit-animation-name: fadeOutRightBig; -moz-animation-name: fadeOutRightBig; -o-animation-name: fadeOutRightBig;
}
.bounceIn {
	animation-name: bounceIn; -webkit-animation-name: bounceIn; -moz-animation-name: bounceIn; -o-animation-name: bounceIn;
}
.bounceInUp {
	animation-name: bounceInUp; -webkit-animation-name: bounceInUp; -moz-animation-name: bounceInUp; -o-animation-name: bounceInUp;
}
.bounceInDown {
	animation-name: bounceInDown; -webkit-animation-name: bounceInDown; -moz-animation-name: bounceInDown; -o-animation-name: bounceInDown;
}
.bounceInLeft {
	animation-name: bounceInLeft; -webkit-animation-name: bounceInLeft; -moz-animation-name: bounceInLeft; -o-animation-name: bounceInLeft;
}
.bounceInRight {
	animation-name: bounceInRight; -webkit-animation-name: bounceInRight; -moz-animation-name: bounceInRight; -o-animation-name: bounceInRight;
}
.bounceOut {
	animation-name: bounceOut; -webkit-animation-name: bounceOut; -moz-animation-name: bounceOut; -o-animation-name: bounceOut;
}
.bounceOutUp {
	animation-name: bounceOutUp; -webkit-animation-name: bounceOutUp; -moz-animation-name: bounceOutUp; -o-animation-name: bounceOutUp;
}
.bounceOutDown {
	animation-name: bounceOutDown; -webkit-animation-name: bounceOutDown; -moz-animation-name: bounceOutDown; -o-animation-name: bounceOutDown;
}
.bounceOutLeft {
	animation-name: bounceOutLeft; -webkit-animation-name: bounceOutLeft; -moz-animation-name: bounceOutLeft; -o-animation-name: bounceOutLeft;
}
.bounceOutRight {
	animation-name: bounceOutRight; -webkit-animation-name: bounceOutRight; -moz-animation-name: bounceOutRight; -o-animation-name: bounceOutRight;
}
.rotateIn {
	animation-name: rotateIn; -webkit-animation-name: rotateIn; -moz-animation-name: rotateIn; -o-animation-name: rotateIn;
}
.rotateInUpLeft {
	animation-name: rotateInUpLeft; -webkit-animation-name: rotateInUpLeft; -moz-animation-name: rotateInUpLeft; -o-animation-name: rotateInUpLeft;
}
.rotateInDownLeft {
	animation-name: rotateInDownLeft; -webkit-animation-name: rotateInDownLeft; -moz-animation-name: rotateInDownLeft; -o-animation-name: rotateInDownLeft;
}
.rotateInUpRight {
	animation-name: rotateInUpRight; -webkit-animation-name: rotateInUpRight; -moz-animation-name: rotateInUpRight; -o-animation-name: rotateInUpRight;
}
.rotateInDownRight {
	animation-name: rotateInDownRight; -webkit-animation-name: rotateInDownRight; -moz-animation-name: rotateInDownRight; -o-animation-name: rotateInDownRight;
}
.rotateOut {
	animation-name: rotateOut; -webkit-animation-name: rotateOut; -moz-animation-name: rotateOut; -o-animation-name: rotateOut;
}
.rotateOutUpLeft {
	animation-name: rotateOutUpLeft; -webkit-animation-name: rotateOutUpLeft; -moz-animation-name: rotateOutUpLeft; -o-animation-name: rotateOutUpLeft;
}
.rotateOutDownLeft {
	animation-name: rotateOutDownLeft; -webkit-animation-name: rotateOutDownLeft; -moz-animation-name: rotateOutDownLeft; -o-animation-name: rotateOutDownLeft;
}
.rotateOutUpRight {
	animation-name: rotateOutUpRight; -webkit-animation-name: rotateOutUpRight; -moz-animation-name: rotateOutUpRight; -o-animation-name: rotateOutUpRight;
}
.rotateOutDownRight {
	animation-name: rotateOutDownRight; -webkit-animation-name: rotateOutDownRight; -moz-animation-name: rotateOutDownRight; -o-animation-name: rotateOutDownRight;
}
.hinge {
	animation-name: hinge; -webkit-animation-name: hinge; -moz-animation-name: hinge; -o-animation-name: hinge;
}
.rollIn {
	animation-name: rollIn; -webkit-animation-name: rollIn; -moz-animation-name: rollIn; -o-animation-name: rollIn;
}
.rollOut {
	animation-name: rollOut; -webkit-animation-name: rollOut; -moz-animation-name: rollOut; -o-animation-name: rollOut;
}
.lightSpeedIn {
	animation-name: lightSpeedIn; animation-timing-function: ease-out; -webkit-animation-name: lightSpeedIn; -moz-animation-name: lightSpeedIn; -o-animation-name: lightSpeedIn; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -o-animation-timing-function: ease-out;
}
.animated.lightSpeedIn {
	animation-duration: 0.5s; -webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; -o-animation-duration: 0.5s;
}
.lightSpeedOut {
	animation-name: lightSpeedOut; animation-timing-function: ease-in; -webkit-animation-name: lightSpeedOut; -moz-animation-name: lightSpeedOut; -o-animation-name: lightSpeedOut; -webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -o-animation-timing-function: ease-in;
}
.animated.lightSpeedOut {
	animation-duration: 0.25s; -webkit-animation-duration: 0.25s; -moz-animation-duration: 0.25s; -o-animation-duration: 0.25s;
}
.wiggle {
	animation-name: wiggle; animation-timing-function: ease-in; -webkit-animation-name: wiggle; -moz-animation-name: wiggle; -o-animation-name: wiggle; -webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -o-animation-timing-function: ease-in;
}
.animated.wiggle {
	animation-duration: 0.75s; -webkit-animation-duration: 0.75s; -moz-animation-duration: 0.75s; -o-animation-duration: 0.75s;
}
