@font-face {
	font-family: Oswald;
	src: local("Oswald Light"), local("Oswald-Light"), url(http://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-sh0Tus9E.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Oswald;
	src: local("Oswald Regular"), local("Oswald-Regular"), url(http://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8A.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Oswald;
	src: local("Oswald Bold"), local("Oswald-Bold"), url(http://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-ohoTus9E.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
